[Desktop Entry]
Name=Photo View
Exec=photoView
Type=Application
Icon=dev.tomsavage.PhotoView
Categories=Qt;Graphics;RasterGraphics;Viewer;Photography;ImageProcessing;
